
.ipynb_checkpoints
feature-engineering-for-house-prices.ipynb
exercise-target-encoding.ipynb
exercise-principal-component-analysis.ipynb
exercise-permutation-importance.ipynb
exercise-mutual-information.ipynb
exercise-creating-features.ipynb
exercise-clustering-with-k-means.ipynb